* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 425px) {
  .main-container {
    margin-top: 0px;
    height: fit-content;
  }
}

/* alert */

.alert-message {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.alert {
  width: 80%;
  text-align: center;
  /* color: red; */
}

@media (max-width: 600px) {
  .alert {
    width: fit-content;
  }
}

/* form button customization */

.submit {
  width: 5rem;
  height: 2rem;
  outline: none;
  border: none;
  background-color: #4379f2;
  color: antiquewhite;
  border-radius: 0.5em;
}

/* for record.html */

/* .table-container {
  width: 90%;
  color: black;
  margin-top: 10px;
} */

@media (max-width: 450px) {
  body {
    overflow: hidden;
  }
  .table-container {
    padding: 0px !important;
  }
}

td,
th {
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 3px solid darkgray;
}

/*setting modal width */

/* .custom-modal-width .modal-dialog {
  max-width: 48%;
} */
